<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-vite" version="0.0.1">
    <name>Cordova Plugin Vite</name>
    <description>Cordova Vite Plugin</description>
    <keywords>cordova,vite</keywords>
    <repo>https://github.com/edivados/cordova-plugin-vite</repo>
    <issue>https://github.com/edivados/cordova-plugin-vite/issues</issue>
    <hook type="before_prepare" src="hooks/beforePrepare.js" />
    <hook type="after_prepare" src="hooks/afterPrepare.js" />
</plugin>
